In [2]:
import json
from pathlib import Path
import pandas as pd

C:\Users\mittagm\AppData\Local\Temp\ipykernel_14132\266235403.py:3: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

# Writing and Reading Metadata with Serialiazed with JSON


JSON (JavaScript Object Notation) is a widely-used format for data exchange, valued for its simplicity and readability. In neuroscience, JSON's structured format is ideal for organizing complex metadata. It supports clear data representation, crucial for sharing and analyzing experimental information. This compatibility with diverse programming languages enhances its utility in global research collaboration, streamlining data management in neuroscience.

This table covers the basic types of values that can be represented in JSON, providing a quick reference for understanding and using JSON data types in various applications:

| JSON Type    | Description                               | Example                |
|--------------|-------------------------------------------|------------------------|
| String       | Textual data enclosed in quotes           | `"exampleString"`      |
| Number       | Integer or floating-point number          | `42`, `3.14`           |
| Object       | Collection of key-value pairs             | `{"key": "value"}`     |
| Array        | Ordered list of values                    | `[1, "two", 3.0]`      |
| Boolean      | True or false value                       | `true`, `false`        |
| Null         | Represents a null or non-existent value   | `null`                 |

## The Built-In `json` Library

| Code | Description |
| :-- | :-- |
| **Reading JSON** |  |
| **`text = pathlib.Path('myfile.json').read_text()`** | Reads a text file to a string. |
| **`data = json.loads(text)`** | Converts JSON-formtted text to a Python code data structure |
| --- | --- |
| **Writing JSON** | |
| ** **`text = json.dumps(data, indent=3)`** | Convert a Python code data structure to a text string |
| **`pathlib.Path("myfile.json").write_text(text)`** | Write the text to a file |
| **`pathlib.Path("data/myfile.json").parent`** | Get the parent directory of "myfile.json" (in this case, "data") |
| **`pathlib.Path("data").mkdir(exist_ok=True, parents=True)`** | Create a folder at the path, and all of its parent folders, if necessary. |

**Exercises**

In [1]:
import json
from pathlib import Path

**Example**: Translate the following sentence to JSON-formatted text, and use the JSON parser to validate it (i.e. check that it is formatted correctly): *The researcher, Sam Vimes, ran Session Number 3 with Subject XTR2 on February 4th, 2022.*.

In [43]:
text = '{"Researcher": "Sam Vimes", "Session": 3, "Subject": "XTR2", "Date": "2022-02-04"}'
json.loads(text)

{'Researcher': 'Sam Vimes',
 'Session': 3,
 'Subject': 'XTR2',
 'Date': '2022-02-04'}

**Example**: Save this data to an appropriately-named file.

In [44]:
path = Path("data1/session.json")
path.parent.mkdir(exist_ok=True, parents=True)
path.write_text(text)

82

**Example**: Read the data from the file back into a Python data structure.

In [45]:
data = json.loads(path.read_text())
data

{'Researcher': 'Sam Vimes',
 'Session': 3,
 'Subject': 'XTR2',
 'Date': '2022-02-04'}

---

Translate the following sentence to JSON-formatted text, and use the JSON parser to validate it (i.e. check that it is formatted correctly): *The EEG amplifier's low-pass filter was set to 200 Hz, its high-pass filter to 0.2 Hz, and its notch filter (which was set to 50 Hz) was turned on.*

In [8]:
text = '{"EEG_low_pass": "200_Hz", "EEG_high_pass": "0.2_Hz", "Notch_filter": "50_Hz", "Notch_activated": true}'
json.loads(text)

{'EEG_low_pass': '200_Hz',
 'EEG_high_pass': '0.2_Hz',
 'Notch_filter': '50_Hz',
 'Notch_activated': True}

Save this data to an appropriately-named file.

In [10]:
path = Path('data1/amplifier_settings_2.json')
path.parent.mkdir(exist_ok=True, parents=True)
path.write_text(text)

103

Read the data from the file back into a Python data structure.

In [12]:
data = json.loads(path.read_text())
data

{'EEG_low_pass': '200_Hz',
 'EEG_high_pass': '0.2_Hz',
 'Notch_filter': '50_Hz',
 'Notch_activated': True}

---

Translate the following sentence to a Python data structure, then use the `json` library to convert it to JSON-formatted text: *Three electrodes were implanted into subject "Pinky", a Sprague-Dawley rat: one in the hippocampus (channel 3), one in the visual cortex (channel 4), and one in the motor cortex (channel 6).*

In [13]:
text = '{"subject": "Pinky", "strain": "Sprague-Dawley", "Channels": {"Hippocampus": 3, "Visual_Cortex": 4, "Motor_Cortex": 6}}'
json.loads(text)

{'subject': 'Pinky',
 'strain': 'Sprague-Dawley',
 'Channels': {'Hippocampus': 3, 'Visual_Cortex': 4, 'Motor_Cortex': 6}}

Save the json data to an appropriately-named file.

In [15]:
path = Path('data1/sessions_2.json')
path.parent.mkdir(exist_ok=True, parents=True)
path.write_text(text)

119

Read the file back into a Python data structure.

---

Translate the following sentence to a Python data structure and save it to a JSON file: *"The image has a width of 1080 pixels, a height of 720 pixels, saved data in RGB format. The camera settings had an exposure time of 8 milliseconds, an aperture of 2.8 stops, and an ISO setting of 100."*

Read the file back to check that it was saved correctly.

---

Run the following code to generate the `image_data` folder, which contains a session's image acquisition data parameters:

In [16]:
import json, random
from pathlib import Path

random.seed(42)  # Ensures all the randomly-generated data is consisten across runs and computers

for _ in range(10):

    # Generate random parameters
    params = {
        "exposure_time": random.choice([100, 200, 300]),  # milliseconds
        "laser_power": random.choice([5, 10, 15]),  # milliwatts
        "num_frames": random.randint(200, 400),
        "frame_rate": random.choice([10, 20, 30]),  # Hz
        "region_of_interest": random.choice(["ROI1", "ROI2", "ROI3"]),
    }
    if random.random() > 0.5:
        params['start_time'] = random.randint(1, 5000)  # seconds

    # Write the data to a json file
    session_num = random.randint(1, 300)
    experimenter = random.choice(["Sophie", "Florian"])
    path = Path(f"image_data/{experimenter}_{session_num}/session.json")
    path.parent.mkdir(parents=True, exist_ok=True)
    json_text = json.dumps(params, indent=3)
    path.write_text(json_text)

Read and Parse the JSON-formatted data in session 72, to get the exposure time.

In [18]:
data = json.loads(Path('image_data/Sophie_72/session.json').read_text())
data['exposure_time']

300

Read and Parse the JSON-formatted data in session 177, to get the frame rate.

In [19]:
data = json.loads(Path('image_data/Florian_177/session.json').read_text())
data['frame_rate']

10

Use `list(Path().glob(pattern))` to list all the the JSON session files in the `image_data` folder (tip: use the wildcard "*" whereever there are variable parts in the filename)

In [21]:
list(Path().glob('image_data/**/*.json'))

[WindowsPath('image_data/Florian_117/session.json'),
 WindowsPath('image_data/Florian_177/session.json'),
 WindowsPath('image_data/Florian_41/session.json'),
 WindowsPath('image_data/Sophie_143/session.json'),
 WindowsPath('image_data/Sophie_16/session.json'),
 WindowsPath('image_data/Sophie_167/session.json'),
 WindowsPath('image_data/Sophie_187/session.json'),
 WindowsPath('image_data/Sophie_215/session.json'),
 WindowsPath('image_data/Sophie_72/session.json'),
 WindowsPath('image_data/Sophie_88/session.json')]

Read and parse all the `session.json` files and put them into a Pandas DataFrame. Here is a code template to help you get started:

```python
sessions = []
for path in Path().glob("image_data/Sophie_16/session.json"):
    text = path.read_text()
    session = {"A": 3}
    sessions.append(session)

df = pd.DataFrame(sessions)
df
```

In [28]:
sessions = []
path_list = []
for path in Path().glob('image_data/**/*.json'):
    print(path)
    path_list.append(path)
    text = path.read_text()
    #print(type(session))
    session = json.loads(text)
    print(type(session))
    sessions.append(session)

df = pd.DataFrame(sessions)
df['Path'] = path_list
df

image_data\Florian_117\session.json
<class 'dict'>
image_data\Florian_177\session.json
<class 'dict'>
image_data\Florian_41\session.json
<class 'dict'>
image_data\Sophie_143\session.json
<class 'dict'>
image_data\Sophie_16\session.json
<class 'dict'>
image_data\Sophie_167\session.json
<class 'dict'>
image_data\Sophie_187\session.json
<class 'dict'>
image_data\Sophie_215\session.json
<class 'dict'>
image_data\Sophie_72\session.json
<class 'dict'>
image_data\Sophie_88\session.json
<class 'dict'>

,exposure_time,laser_power,num_frames,frame_rate,region_of_interest,start_time,Path
0,300,15,292,30,ROI1,376.0,image_data\Florian_117\session.json
1,100,10,226,10,ROI2,NaN,image_data\Florian_177\session.json
2,100,15,317,30,ROI1,3101.0,image_data\Florian_41\session.json
3,200,15,271,10,ROI1,2788.0,image_data\Sophie_143\session.json
4,300,15,339,10,ROI3,NaN,image_data\Sophie_16\session.json
5,100,10,297,20,ROI3,1800.0,image_data\Sophie_167\session.json
6,100,5,225,20,ROI2,NaN,image_data\Sophie_187\session.json
7,100,5,329,30,ROI1,4465.0,image_data\Sophie_215\session.json
8,300,5,206,30,ROI2,NaN,image_data\Sophie_72\session.json
9,200,10,253,30,ROI2,585.0,image_data\Sophie_88\session.json

In [65]:
import pandas as pd

C:\Users\NickDG\AppData\Local\Temp\ipykernel_10340\4080736814.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

Read and parse all the `session.json` files and put them into a Pandas DataFrame.

Read and parse all the `session.json` files and put them into a Pandas DataFrame, this time including the experimenter name, the session ID from the parent folder's name (tip: `Path().parent.name`), and the path to the parent folder's name for later analysis (e.g. to load up other data files from that session).

In [35]:
#str(df['Path'].values[0])
experimenter_list = []
session_list = []

for e in df['Path'].values:
    e_2 = str(e).split('\\')[1]
    experimenter_list.append(e_2.split('_')[0])
    session_list.append(e_2.split('_')[1])

In [37]:
session_list, experimenter_list

(['117', '177', '41', '143', '16', '167', '187', '215', '72', '88'],
 ['Florian',
  'Florian',
  'Florian',
  'Sophie',
  'Sophie',
  'Sophie',
  'Sophie',
  'Sophie',
  'Sophie',
  'Sophie'])

In [38]:
df['Experimenter'] = experimenter_list
df['Session_num'] = session_list

df

,exposure_time,laser_power,num_frames,frame_rate,region_of_interest,start_time,Path,Experimenter,Session_num
0,300,15,292,30,ROI1,376.0,image_data\Florian_117\session.json,Florian,117
1,100,10,226,10,ROI2,NaN,image_data\Florian_177\session.json,Florian,177
2,100,15,317,30,ROI1,3101.0,image_data\Florian_41\session.json,Florian,41
3,200,15,271,10,ROI1,2788.0,image_data\Sophie_143\session.json,Sophie,143
4,300,15,339,10,ROI3,NaN,image_data\Sophie_16\session.json,Sophie,16
5,100,10,297,20,ROI3,1800.0,image_data\Sophie_167\session.json,Sophie,167
6,100,5,225,20,ROI2,NaN,image_data\Sophie_187\session.json,Sophie,187
7,100,5,329,30,ROI1,4465.0,image_data\Sophie_215\session.json,Sophie,215
8,300,5,206,30,ROI2,NaN,image_data\Sophie_72\session.json,Sophie,72
9,200,10,253,30,ROI2,585.0,image_data\Sophie_88\session.json,Sophie,88